{% extends "TB.html" %}

{% block titulo %} Añadir Inventario {% endblock %}

{% block contenido %}  

<div class="container">
    <div class="row">
      <div class="col-2">
  
      </div>
      <div class="col-8">
        <div class="card shadow mt-3 col-10">
            <div class="card-header">
                Añadir Inventario
            </div>
            <div class="card-body">
                <h4 class="card-title">Datos del Inventario </h4>
        {% include 'Inventario/form1.html' %}
            
            </div>
        
            </div>
        </div>
      </div>
      <div class="col-2">
        
      </div>
   </div>
  </div>
{% endblock %}