{% extends "TB.html" %}

{% block titulo %} Indice de inventario {% endblock %}

{% block contenido %}  




<nav class="breadcrumb">
    <a name="" id="" class="btn btn-light" href="{% url 'ingresarInventario' %}" role="button">Add ></a>
  
  
    <!-- <input type="submit" name='mybtn1' class="btn btn-outline-dark" onclick= " location.href='{% url 'excel' %}' " 
        value="Descargar CSV"></input>-->

    

   
</nav>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Columna</th>
                    <th>Fila</th>
                    <th>Bloque</th>
                    <th>Contenidos</th>
        
                </tr>
            </thead>
            <tbody>

                {% for inventario in inventario %}
                <tr>
                    <td>{{inventario.id}}</td>
                    <td>{{inventario.filas}}</td>
                    <td>{{inventario.columnas}}</td>
                    <td>{{inventario.bloque}}</td>
                    <td>{{inventario.ContenidosInv}}</td>
                    <td> <a name="" id="" class="btn btn-light" href="{% url 'eliminar' inventario.id %}" role="button">Delete > </a> | 
                        <a name="Content" id="Content" class="btn btn-light" href="{% url 'editar' inventario.id %}" role="button">Edit ></a></td>

                   

                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        <a>  cargar y descargar archivos externos   </a>
        <a name="" id="" class="btn btn-light" href="{% url 'cyd' %}" role="button">Click aqui ></a>

    </div>



{% endblock %}

    