{% extends "TB.html" %}

{% block titulo %}pagina de Inicio de FindME {% endblock %}

{% block contenido %}


<div class="p-5 bg-grey">
    <div class="container">
        <h1 class="display-3">Welcome to FindME</h1>
     
        <hr class="my-2">
        <p class="lead">
            <a class="btn btn-success btn" href="/admin/" role="button">Administrador</a>
            <a class="btn btn-success btn" href="Jumbo action link" role="button">usuario</a>
        </p>
    </div>
</div>

{% endblock  %}