{% extends "TB.html" %}

{% block titulo %} Crear Tareas Inventario {% endblock %}

{% block contenido %}  

<div class="container">
    <div class="row">
      <div class="col-2">
  
      </div>
      <div class="col-8">
        <div class="card shadow mt-3">
            <div class="card-header">
                Crear una tarea
            </div>
            <div class="card-body">
                <h4 class="card-title">Datos de la tarea </h4>
        {% include 'Tasks/form.html' %}
               
            </div>
           
            </div>
        </div>
  
         
      </div>
      <div class="col-2">
        
      </div>
   </div>
  </div>


{% endblock %}